.card_content {
  font-feature-settings: "clig" off, "liga" off;
  font-family: Inter;
  font-style: normal;
  line-height: 18px;
}

.card_content span {
  position: absolute;
  top: 10px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #fff !important;
  text-align: center;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  width: 40px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 10px;
  margin: 0 15px 0 0;
}

.card_content span.get {
  background: #0e9b71;
  text-shadow: 1px 1px 0 #0d8d67, 0 1px 0 #0d8d67, 1px 0 0 #0d8d67;
}

.card_content span.post {
  background: #0171c2;
  text-shadow: 1px 1px 0 #0168b3, 0 1px 0 #0168b3, 1px 0 0 #0168b3;
}

.card_content span.patch {
  background: #df7d03;
  text-shadow: 1px 1px 0 #d07503, 0 1px 0 #d07503, 1px 0 0 #d07503;
}

.card_content span.put {
  background: #674ead;
  text-shadow: 1px 1px 0 #604aa2, 0 1px 0 #604aa2, 1px 0 0 #604aa2;
}

pre.bash {
  background-color: black;
  color: white;
  font-size: medium;
  font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
    Courier New, monospace;
  width: 100%;
  display: inline-block;
}
